h1 {
    color: green;
    font-family: 'Segoe Script';
    text-align: center;
}

body {
    background-image: url(https://kartinkin.net/pics/uploads/posts/2022-08/1659997292_8-kartinkin-net-p-fon-dlya-prezentatsii-snezhinki-krasivo-9.jpg);
}

h2 {
    text-align :center;
}